* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Hind Guntur", sans-serif;
  background: #f4f6ff;
  font-size: 20px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #01579b;
  transition: all 500ms;
}

h1 {
  line-height: 0.8;
  font-size: 3rem;
}
h1 span {
  font-size: 3.5rem;
  color: #c1272d;
  font-family: "Mirza", cursive;
}

.capitalize {
  text-transform: capitalize;
}

.btn {
  color: #f4f6ff;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0px 5px;
}
.btn:focus {
  box-shadow: 0px 3px 5px #1a1a1a;
}

.btn-primary {
  background: #c1272d;
}
.btn-primary:hover {
  box-shadow: 0px 2px 4px #1a1a1a;
  background: #b71c1c;
}

.btn-secondary {
  background: #01579b;
}
.btn-secondary:hover {
  background: #10375c;
  box-shadow: 0px 2px 4px #1a1a1a;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-family: "Mirza", cursive;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  font-family: "Mirza", cursive;
  padding: 20px 0px;
  transition: all 500ms;
  z-index: 100;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
}
header a {
  padding: 10px 15px;
}
header .logo a {
  display: flex;
}
header .logo a img {
  width: 24px;
  height: 24px;
}
header .logo a:hover {
  transform: scale(1.05);
}
header .toggle {
  display: none;
}
header .menu a:hover,
header .social a:hover,
header .menu a.active {
  color: #c1272d;
}

header.sticky {
  box-shadow: 0px 0px 8px #1a1a1a;
}

section.banner {
  margin-top: 103px;
  height: 100vh;
  margin: 0px auto;
  overflow: hidden;
  text-align: center;
  line-height: 1.5;
  color: #f4f6ff;
}
section.banner .banner__video {
  margin-top: 83px;
  height: 100vh;
  position: relative;
}
section.banner .banner__video video {
  min-width: 100%;
  min-height: 100%;
}
section.banner .banner__overlay {
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #303952;
  z-index: 10;
  opacity: 0.95;
}
section.banner .banner__content {
  margin-top: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 90;
}
section.banner .banner__content p {
  margin: 25px 0px;
}
section.banner .banner__content a {
  display: inline-block;
  letter-spacing: 2px;
}

.about-me {
  font-size: 16px;
  padding-top: 60px;
}
.about-me h2,
.about-me span.languaje {
  font-family: "Mirza", cursive;
}
.about-me .d-flex {
  display: flex;
  justify-content: space-between;
}
.about-me__img {
  align-self: center;
}
.about-me__content {
  display: flex;
  justify-content: space-between;
}
.about-me__content p {
  text-align: justify;
  color: #333;
  margin: 10px 0px;
}
.about-me__description {
  padding: 0px 30px;
  max-width: 60%;
}
.about-me__skills {
  min-width: 40%;
}
.about-me__skills div {
  margin-top: 10px;
}
.about-me__skills span.languaje {
  font-family: "Mirza", cursive;
  font-size: 1.2rem;
}
.about-me__skills span.progress {
  display: block;
  overflow: hidden;
  background: #d9e2ff;
  height: 8px;
  border-radius: 10px;
}
.about-me__skills span.progress span.value {
  float: left;
  height: 8px;
  background: #01579b;
  animation: progress 1.5s linear;
}
.about-me__skills span.progress span.html {
  width: 95%;
}
.about-me__skills span.progress span.css {
  width: 85%;
}
.about-me__skills span.progress span.js {
  width: 70%;
}
.about-me__skills span.progress span.php {
  width: 60%;
}
.about-me__skills span.progress span.git {
  width: 50%;
}
@keyframes progress {
  0% {
    width: 0;
  }
}

main {
  padding-top: 60px;
}
main .categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .categories a {
  color: #10375c;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
}
main .categories a.active {
  color: #c1272d;
}
main .projects {
  position: relative;
  width: 100%;
  opacity: 0;
  transform: opacity 0.5s linear 1s;
}
main .projects.img-loaded {
  opacity: 1;
}
main .projects .item {
  position: absolute;
  display: block;
  padding: 0px;
  margin: 10px;
  width: calc(33.33% - 20px);
}
main .projects img {
  width: 100%;
  cursor: pointer;
  vertical-align: top;
}
main .projects .item-content {
  position: relative;
}

figure figcaption::before,
figure figcaption::after {
  pointer-events: none;
}

figure figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

figure figcaption a {
  opacity: 0;
}

figure.effect-bubba:hover img {
  opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
  border-right: 1px solid #1a1a1a;
  border-left: 1px solid #1a1a1a;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover a {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (max-width: 992px) {
  .heading {
    font-size: 2rem;
  }

  header a {
    padding: 10px 8px;
  }

  .about-me .d-flex {
    flex-direction: column;
  }
  .about-me .d-flex__content {
    padding-top: 20px;
  }

  main .projects .item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .btn {
    padding: 8px;
  }

  .heading {
    font-size: 1.7rem;
  }

  .header .toggle {
    display: block;
  }

  .toggle {
    background-image: url(https://inveto.vercel.app/images/menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(1);
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: 200ms;
    order: 4;
  }

  .toggle.active {
    background-image: url(https://inveto.vercel.app/images/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(1);
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  nav.menu {
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 85px;
    right: -100%;
    padding: 100px 50px;
    text-align: center;
    background: #fff;
    transition: all 800ms;
    z-index: 150;
    box-shadow: 1px 0px 4px #1a1a1a;
  }

  nav.menu.active {
    right: 0;
  }

  nav.menu.active ul li {
    animation: showMenu 1s;
  }

  @keyframes showMenu {
    0% {
      padding: 100% 0px;
    }
    100% {
      padding: 20px 0px;
    }
  }
  nav.menu ul {
    display: block;
    text-align: center;
  }

  nav.menu li {
    padding: 20px 0px;
  }

  nav.menu a,
.social a {
    font-size: 28px;
    padding: 10px 15px;
  }
}
@media (max-width: 576px) {
  .btn {
    padding: 10px 12px;
  }

  h1 {
    font-size: 2rem;
  }
  h1 span {
    font-size: 2.5rem;
    color: #c1272d;
    font-family: "Mirza", cursive;
  }

  header .header {
    flex-wrap: wrap;
  }
  header .social {
    order: 4;
    width: 100%;
  }
  header .social ul {
    justify-content: center;
    margin-top: 10px;
  }
  header nav.menu {
    top: 128px;
  }

  .about-me__content {
    flex-direction: column;
  }
  .about-me__content h2 {
    font-size: 1.3rem;
  }
  .about-me__description {
    max-width: 100%;
    padding: 0px;
  }
  .about-me__skills {
    max-width: 90%;
  }
  .about-me__skills span.languaje {
    font-size: 1rem;
  }

  main .projects .item {
    width: calc(100% - 20px);
  }
}

/*# sourceMappingURL=styles.css.map */
