* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Hind Guntur", sans-serif;
  background: #f4f6ff;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ff5722, #c1272d);
  border-radius: 6px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #01579b;
  transition: all 500ms;
}

h1 {
  line-height: 0.8;
  font-size: 3rem;
}
h1 span {
  font-size: 3.5rem;
  color: #c1272d;
  font-family: "Mirza", cursive;
}

h3 {
  font-family: "Mirza", cursive;
  font-size: 1.8rem;
}

.capitalize {
  text-transform: capitalize;
}

.btn {
  color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:focus {
  box-shadow: 0px 3px 5px #1a1a1a;
}

.btn-primary {
  background: #c1272d;
}
.btn-primary:hover {
  box-shadow: 0px 2px 4px #1a1a1a;
  background: #b71c1c;
}

.btn-secondary {
  background: #01579b;
}
.btn-secondary:hover {
  background: #10375c;
  box-shadow: 0px 2px 4px #1a1a1a;
}

.heading {
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: 15px;
  font-family: "Mirza", cursive;
  padding-top: 60px;
}

.d-flex {
  display: flex;
  justify-content: space-evenly;
}

.feather {
  stroke-width: 2px;
  fill: none;
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

#sobre-mi,
#proyectos,
#experiencia,
#certificate,
#contactar {
  padding: 20px 0px 30px 0px;
}

.clearfix {
  position: relative;
  float: none;
  clear: both;
}

header {
  font-size: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  font-family: "Mirza", cursive;
  padding: 20px 0px;
  transition: all 500ms;
  z-index: 100;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
}
header a {
  padding: 10px 12px;
}
header .logo a {
  display: flex;
}
header .logo a img {
  width: 24px;
  height: 24px;
}
header .logo a:hover {
  transform: scale(1.05);
}
header .toggle {
  display: none;
}
header .menu a:hover,
header .social a:hover,
header .menu a.active {
  color: #c1272d;
}
header #themeDark {
  color: #1a1a1a;
  cursor: pointer;
  padding: 0px 12px;
}
header #themeLight {
  color: #f0f0f0;
  cursor: pointer;
  display: none;
  padding: 0px 12px;
}

header.sticky {
  box-shadow: 0px 0px 8px #1a1a1a;
}

.banner {
  margin-top: 103px;
  height: 100vh;
  margin: 0px auto;
  overflow: hidden;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  color: #fff;
}
.banner .banner__video {
  margin-top: 83px;
  height: 100vh;
  position: relative;
}
.banner .banner__video video {
  min-width: 100%;
  min-height: 100%;
}
.banner .banner__overlay {
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #303952;
  z-index: 10;
  opacity: 0.95;
}
.banner .banner__content {
  margin-top: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 90;
}
.banner .banner__content p {
  margin: 25px 0px;
}
.banner .banner__content a {
  display: inline-block;
  letter-spacing: 2px;
}

.about-me__img {
  align-self: center;
}
.about-me__content {
  display: flex;
  justify-content: space-between;
}
.about-me__content p {
  text-align: justify;
  color: #666;
  margin: 10px 0px;
}
.about-me__description {
  padding: 0px 30px;
  max-width: 60%;
}
.about-me__skills {
  min-width: 40%;
}
.about-me__skills div {
  margin-bottom: 10px;
}
.about-me__skills span.languaje {
  font-family: "Mirza", cursive;
  font-size: 1.1rem;
}
.about-me__skills span.progress {
  display: block;
  overflow: hidden;
  background: #d9e2ff;
  height: 8px;
  border-radius: 10px;
  margin-top: -10px;
}
.about-me__skills span.progress span.value {
  float: left;
  height: 8px;
  background: #01579b;
  animation: progress 1.5s linear;
}
.about-me__skills span.progress span.html {
  width: 95%;
}
.about-me__skills span.progress span.css {
  width: 85%;
}
.about-me__skills span.progress span.js {
  width: 70%;
}
.about-me__skills span.progress span.php {
  width: 60%;
}
.about-me__skills span.progress span.git,
.about-me__skills span.progress span.bd {
  width: 50%;
}
@keyframes progress {
  0% {
    width: 0;
  }
}

section.projects .btn {
  margin: 0px 5px;
}
section.projects .categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section.projects .categories a {
  color: #01579b;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
}
section.projects .categories a.active {
  color: #c1272d;
}
section.projects .projects__content {
  position: relative;
  width: 100%;
}
section.projects .projects__content .item {
  position: absolute;
  display: block;
  padding: 0px;
  margin: 10px;
  width: calc(33.33% - 20px);
}
section.projects .projects__content img {
  width: 100%;
  cursor: pointer;
  vertical-align: top;
}
section.projects .projects__content .item-content {
  position: relative;
}

figure figcaption::before,
figure figcaption::after {
  pointer-events: none;
}

figure figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

figure figcaption a {
  opacity: 0;
}

figure.effect-bubba:hover img {
  opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
  border-right: 1px solid #1a1a1a;
  border-left: 1px solid #1a1a1a;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover a {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.experience__content {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px #333;
  padding: 20px;
  background: #fff;
}
.experience__content .date {
  padding: 20px 40px;
  background: #01579b;
  color: #fff;
}
.experience__content .date span {
  color: #f1f1f1;
}
.experience__content .w-65 {
  padding: 20px 40px;
  max-width: 60%;
}
.experience__content p {
  margin-top: 10px;
}

.certificate {
  padding-bottom: 30px;
}
.certificate__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms;
  visibility: hidden;
  opacity: 0;
}
.certificate__overlay .slide-show {
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  position: relative;
  display: flex;
  justify-content: center;
}
.certificate__overlay .slide-show img {
  width: 100%;
  height: 100;
  object-fit: contain;
}
.certificate__overlay .slide-show .btn-close {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 2rem;
  background-color: #1a1a1a;
  color: #f0f0f0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: all 200ms;
  cursor: pointer;
  z-index: 110;
}
.certificate__overlay .slide-show .btn-close:hover {
  transform: scale(1.2);
}
.certificate__overlay .slide-show .btn-slide {
  display: flex;
  align-items: center;
  color: #f0f0f0;
  cursor: pointer;
  transition: all 200ms;
}
.certificate__overlay .slide-show .btn-slide .btn-back,
.certificate__overlay .slide-show .btn-slide .btn-next {
  width: 70px;
  height: 90vh;
  top: -5px;
  background: #01579b;
  background: linear-gradient(0deg, rgba(1, 87, 155, 0.3197654062) 0%, #01579b 50%, rgba(16, 55, 92, 0.3225665266) 100%);
}
.certificate__overlay .slide-show .btn-slide .btn-back polyline,
.certificate__overlay .slide-show .btn-slide .btn-next polyline {
  pointer-events: none;
}
.certificate__overlay .slide-show .btn-slide .btn-back:hover,
.certificate__overlay .slide-show .btn-slide .btn-next:hover {
  color: #d9e2ff;
}
.certificate__overlay .slide-show .btn-slide .btn-back {
  position: absolute;
  left: 0px;
}
.certificate__overlay .slide-show .btn-slide .btn-next {
  position: absolute;
  right: 0px;
}
.certificate__content {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
}
.certificate__column {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0px 4px;
}
.certificate__column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
  transition: all 300ms ease;
}
.certificate__column img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 4px #757575;
}

section.contact {
  font-size: 18px;
  background: #333;
  color: #fff;
}
section.contact a {
  color: #039be5;
}
section.contact a:hover {
  color: #03a9f4;
}
section.contact p {
  font-weight: 600;
  font-size: 1.1em;
}
section.contact h3 {
  font-size: 2em;
}
section.contact .information {
  min-width: 40%;
}
section.contact .information__item {
  display: flex;
  margin: 40px 0px;
}
section.contact .information .pl-10 {
  padding-left: 10px;
}
section.contact .form-contact {
  min-width: 40%;
}
section.contact .form-contact form {
  margin: 20px 0px;
}
section.contact .form-contact form div {
  margin-top: 30px;
  position: relative;
  color: #1a1a1a;
}
section.contact .form-contact form div label {
  position: absolute;
  top: 10px;
  left: 8px;
  pointer-events: none;
}
section.contact .form-contact form div span {
  top: 0px;
  left: 25px;
  transition: all 500ms;
  margin-left: 7px;
  position: absolute;
}
section.contact .form-contact form input[type=text],
section.contact .form-contact form input[type=email],
section.contact .form-contact form textarea {
  width: 100%;
  height: 50px;
  padding-left: 37px;
  outline: none;
  border: 1px solid;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: "Mirza", cursive;
}
section.contact .form-contact form textarea {
  min-height: 125px;
  padding-top: 12px;
  resize: none;
}
section.contact .form-contact form input[type=submit] {
  border: none;
  outline: none;
  padding: 20px 30px;
}
section.contact .form-contact form input[type=text]:focus ~ label span,
section.contact .form-contact form input[type=email]:focus ~ label span,
section.contact .form-contact form input[type=text]:valid ~ label span,
section.contact .form-contact form input[type=email]:valid ~ label span,
section.contact .form-contact form textarea:focus ~ label span,
section.contact .form-contact form textarea:valid ~ label span {
  top: -33px;
  left: -10px;
  font-size: 0.9rem;
  color: #f0f0f0;
}
section.contact .form-contact form input[type=text]:focus ~ label .feather,
section.contact .form-contact form input[type=email]:focus ~ label .feather,
section.contact .form-contact form input[type=text]:valid ~ label .feather,
section.contact .form-contact form input[type=email]:valid ~ label .feather,
section.contact .form-contact form textarea:focus ~ label .feather,
section.contact .form-contact form textarea:valid ~ label .feather {
  color: #01579b;
}
section.contact .form-contact #errorMessage {
  color: #c1272d;
  transition: all 500ms;
}

@media (max-width: 992px) {
  .d-flex {
    justify-content: space-between;
  }

  .heading {
    font-size: 2rem;
  }

  header .header {
    width: 98%;
    font-size: 1.17rem;
  }
  header a {
    padding: 10px 7px;
  }
  header #themeDark,
header #themeLight {
    padding: 0px 7px;
  }

  .about-me .d-flex {
    flex-direction: column;
  }
  .about-me__content {
    padding-top: 20px;
  }

  section.projects .projects__content .item {
    width: calc(50% - 20px);
  }

  .experience .experience__content {
    justify-content: space-between;
  }

  .certificate .certificate__column {
    flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  header .header {
    width: 90%;
  }

  .btn {
    padding: 8px;
  }

  .heading {
    font-size: 1.7rem;
  }

  .feather {
    width: 24px;
    height: 24px;
  }

  .header .toggle {
    display: block;
  }

  .toggle {
    background-image: url(https://inveto.vercel.app/images/menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(1);
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: 200ms;
    order: 4;
  }

  .toggle.active {
    background-image: url(https://inveto.vercel.app/images/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(1);
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  nav.menu {
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 84px;
    right: -100%;
    padding: 100px 50px;
    text-align: center;
    background: #fff;
    transition: all 800ms;
    z-index: 150;
    box-shadow: 1px 0px 4px #1a1a1a;
  }

  nav.menu.active {
    right: 0;
  }

  nav.menu.active ul li {
    animation: showMenu 1s;
  }

  @keyframes showMenu {
    0% {
      padding: 100% 0px;
    }
    100% {
      padding: 20px 0px;
    }
  }
  nav.menu ul {
    display: block;
    text-align: center;
  }

  nav.menu li {
    padding: 20px 0px;
  }

  nav.menu a,
.social a {
    font-size: 28px;
    padding: 10px 15px;
  }

  header #themeDark,
header #themeLight {
    padding: 0px 15px;
  }

  .experience {
    font-size: 16px;
  }
  .experience__content {
    flex-direction: column;
    margin: 30px 0px;
  }
  .experience__content .date {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  .experience__content .w-65 {
    max-width: 100%;
    padding: 10px 15px;
  }
  .experience__content.even {
    flex-direction: column-reverse;
  }

  .certificate__overlay .slide-show img {
    width: 90%;
  }

  section.contact .feather {
    margin-top: 3px;
  }
  section.contact .d-flex {
    flex-direction: column;
  }
  section.contact .form-contact form {
    width: 75%;
  }
  section.contact h3 {
    font-size: 1.7rem;
  }
}
@media (max-width: 576px) {
  .btn {
    padding: 10px 12px;
  }

  h1 {
    font-size: 2rem;
  }
  h1 span {
    font-size: 2.5rem;
    color: #c1272d;
    font-family: "Mirza", cursive;
  }

  #sobre-mi,
#proyectos,
#experiencia,
#contactar {
    padding-top: 60px;
  }

  header .header {
    flex-wrap: wrap;
  }
  header .social {
    order: 4;
    width: 100%;
  }
  header .social ul {
    justify-content: center;
    margin-top: 10px;
  }
  header nav.menu {
    top: 129px;
  }

  .about-me__content {
    flex-direction: column;
  }
  .about-me__content h2 {
    font-size: 1.3rem;
  }
  .about-me__description {
    max-width: 100%;
    padding: 0px;
  }
  .about-me__skills {
    max-width: 90%;
  }
  .about-me__skills span.languaje {
    font-size: 1rem;
  }

  section.projects .projects__content .item {
    width: calc(100% - 20px);
  }

  .certificate .certificate__column {
    flex: 100%;
    max-width: 100%;
  }
  .certificate__overlay .slide-show .btn-slide {
    color: #000;
  }
  .certificate__overlay .slide-show .btn-slide .btn-back,
.certificate__overlay .slide-show .btn-slide .btn-next {
    background: none;
    width: 50px;
  }
  .certificate__overlay .slide-show .btn-slide .btn-back:hover,
.certificate__overlay .slide-show .btn-slide .btn-next:hover {
    color: #c1272d;
  }

  section.contact .form-contact form {
    width: 100%;
  }
  section.contact a {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
